{% extends "index.html" %}

{% block pagename  %}
     <h1>{{title}}</h1>
{% endblock %}

{% block menu %}
    {{ block.super}}
{% endblock %}

{% block content %}
    <br>
    <form>
        <ul >
            {% if not there_is %}
            <h3 > нет заданий </h3>
            {% else %}
            <h4>  {{user_str}}</h4>
            <h4> Выполнено заданий  {{completed_tasks}} | Осталось {{0}}</h4>
            {% endif %}
            {% for t in list %}
            <li > {{t.user}} | {{t.title}} | {{t.content}} | {{t.completed}} </li>
            <br>
            {% endfor %}

        </ul>
    <br>
    <br>
    </form>
{% endblock %}
